@{
  Layout = "_Layout";
}

@model EndangeredAnimals.Models.Animal;

<h4>@Html.DisplayFor(model => model.taxonname)</h4>
<h5><em>@Html.DisplayFor(model => model.scientific_name)</em></h5>
<h5>Status: @Html.DisplayFor(model => model.category)</h5>
<h5>Population Trend: @Html.DisplayFor(model => model.populationtrend)</h5>
<h5>Summary:</h5>
<p>@Html.DisplayFor(model => model.rationale)</p>

<div class="row">
  <div class = "col-md-6">
    <h5>Population</h5>
    <p>@Html.DisplayFor(model => model.population)</p>
    <h5>Threats</h5>
    <p>@Html.DisplayFor(model => model.threats)</p>
    <h5>Conservation Efforts</h5>
    <p>@Html.DisplayFor(model => model.conservationmeasures)</p>
  </div>
  <div class = "col-md-6">
    <h5>Geographic Range</h5>
    <p>@Html.DisplayFor(model => model.geographicrange)</p>
    <h5>Habitat</h5>
    <p>@Html.DisplayFor(model => model.habitat)</p>
  </div>
</div>